<div class="about-us">
     <div class="about-us-heading">
        <h1>About Us</h1>
     </div>
     <div class="intro-text">
        <p>UEP Facility Booking System is a web-based platform that simplifies how students and 
        staff reserve university facilities. It's built to replace manual, paper-based booking with 
        a faster, more organized process.
        This system was developed to eliminate manual processes,  reduce paperwork,  <br> and minimize scheduling 
        conflicts that often occur with traditional booking methods. By going digital,  <br> we ensure faster approvals,
        real-time availability, and better coordination across departments.
    </p>
     </div>
     
    <div class="card-container">
          <div class="about-us-card" id="card-1">
            <div class="title-1">What We Offer</div>
            <div class="content">
                <ul>
                    <li>Online booking for rooms and venues</li>
                    <li>Real-time availability checking</li>
                    <li>Auto-notification and updates</li>
                    <li>Conflict-free Scheduling</li>
                </ul>
            </div>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
          </div>
    </div>

    <div class="about-us-card" id="card-2">
        <div class="title-1">Who Can Use It?</div>
            <div class="content" style="margin-top: 10px;">
                The system is designed for students, faculty, 
                staff, and event external clients who need to book university spaces 
                for classes, events, meetings, or activities.
            </div>
        <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
        </div>
    </div>

      <div class="about-us-card" id="card-3">
    <div class="title-1">Benefits</div>
         <div class="content">
                <ul>
                    <li>Online booking for rooms and venues</li>
                    <li>Real-time availability checking</li>
                    <li>Auto-notification and updates</li>
                    <li>Conflict-free Scheduling</li>
                </ul>
         </div>
    <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
    </div>
    </div>

     </div>
</div>